@model RenderingModel
<ul>
    @foreach (var item in Model.Item.Children.ToArray())
    {
        if (@item["Show in Menu"] == "1")
        {
            <li>
                <a href="@Sitecore.Links.LinkManager.GetItemUrl(@item)">
                    @item["Title"]
                </a>
            </li>
        }
    }

</ul>